/*
======================================
           1. COMMON ELEMENTS
======================================
*/

QLabel
{
    padding: 10px 20px;
    font: normal 16px Georgia;
    color: #ee3;
}

QPushButton
{
    border: 0;
    font: normal 16px Georgia;
    color: #fff;
    background: url(style/images/pushbutton.png) repeat-x;
}

QPushButton:hover
{
    color: #ffa;
    background: url(style/images/pushbuttonhover.png) repeat-x;
}

QPushButton:disabled
{
    color: #ddb;
    background: url(style/images/pushbuttondisabled.png) repeat-x;
}

QCheckBox, QRadioButton
{
    font: normal 16px Arial;
    color: #fff;
}

/*
======================================
           2. BASIC WIDGETS
======================================
*/

#mainWidget
{
    border-image: url(style/images/mainwidgetbackground.png) 0 0 0 0 stretch stretch;
}

#header
{
    max-height: 80px;
    min-height: 80px;
    border-image: url(style/images/header.png) 0 0 0 0 stretch stretch;
}

#header > QLabel
{
    padding: 4px 10px;
    font: bold 44px Georgia;
    color: #fff;
}

#middle
{
    border-image: url(style/images/middle.png) 0 0 0 0 stretch stretch;
}

#footer
{
    max-height: 60px;
    min-height: 60px;
    border-image: url(style/images/footer.png) 0 0 0 0 stretch stretch;
}

#activeGameArea,
#activePreArea
{
    max-height: 436px;
    min-height: 436px;
    max-width: 1024px;
    min-width: 1024px;
}

/*
======================================
           3. MAIN MENU
======================================
*/

#mainMenuWidget
{
    border-image: url(style/images/mainbackground.png) 0 0 0 0 stretch stretch;
}

#mainMenu > QPushButton
{
    border-top-right-radius: 16px;
    border-bottom-left-radius: 10px;
    padding-left: 24px;
    padding-bottom: 4px;
    text-align: left;
    font: normal 24px "Agency FB";
    color: #fff;
    background: url(style/images/button.png) repeat-y;
}

#mainMenu > QPushButton:hover
{
    background: url(style/images/buttonhover.png) repeat-y;
    color: #dd4;
}

#mainMenu > QPushButton:disabled
{
    background: url(style/images/buttondisabled.png) repeat-y;
    color: #888;
}

/*
======================================
        4. SETTINGS SECTION
======================================
*/

#complSettings, #langsSettings
{
    padding: 4px;
    font: bold 28px Georgia;
}

/*
======================================
           5. GAME FIELDS
======================================
*/

#preField > QPushButton,
#userField > QPushButton,
#pcField > QPushButton
{
    border: 1px solid #888;
    border-radius: 4px;
    background: #ffffff;
}

#preField > QPushButton:hover,
#userField > QPushButton:hover,
#pcField > QPushButton:hover
{
    border: 1px solid #555;
}

#preField > QPushButton:hover,
#userField > QPushButton:hover
{
    background: #cff3ff;
}

#pcField > QPushButton:hover
{
    background: #ff9b21;
}

#preField > QPushButton:disabled
{
    background: #a6b6d4;
    border: 1px solid #444;
}

#preField > QLabel, #userField > QLabel, #pcField > QLabel
{
    padding: 2px 1px;
    font: bold 12px Arial;
    background: #4ad;
    color: #000;
}

#buttonsSection > QPushButton
{
    font: normal 14px Georgia;
    border-radius: 9px;
    background-position: 2px 2px;
}

#yourField,
#opponentField
{
    font: italic bold 24px Cambria;
}

#yourField
{
    color: #a8d399;
}

#opponentField
{
    color: #d6a867;
}

#gameOver
{
    border: 1px solid #222;
    border-radius: 16px;
    background: #fff;
}

#gameOverMessage
{
    font: bold 36px Cambria;
    color: #35e;
}

#hideButton { background: url(style/images/hide.png) no-repeat; }
#hideButton:hover { background: url(style/images/hidehover.png) no-repeat; }

/*
======================================
           6. SHIPS LISTS
======================================
*/

#shipList > QPushButton
{
    padding-right: 3px;
    text-align: right;
    color: #0e0;
    font: bold 14px Cambria;
}

#shipList > QPushButton:hover
{
    border-top: 1px solid #da3;
    border-bottom: 1px solid #da3;
    background-color: #1e3260;
}

#shipList > QPushButton:checked
{
    border-top: 1px solid #4ad;
    border-bottom: 1px solid #4ad;
    background-color: #325091;
}

#shipList > QPushButton:disabled
{
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    background-color: #575757;
}

#F { background: url(style/images/graphics/fourship.png) no-repeat; }
#T { background: url(style/images/graphics/trippleship.png) no-repeat; }
#D { background: url(style/images/graphics/doubleship.png) no-repeat; }
#S { background: url(style/images/graphics/singleship.png) no-repeat; }

/*
======================================
           7. GAME STATISTICS
======================================
*/

#seaBattle QLabel
{
    padding: 1px;
}

#statisticsHeader
{
    margin: 0 2px;
    font: bold 18px Georgia;
    border-bottom: 1px solid #fff;
}

#statisticsShips, #statisticsField, #statisticsMoves
{
     font: bold 18px Georgia;
     color: #fff;
}

#yourAliveShips, #yourCrashedShips, #yourCrashedCells, #yourMoves
{
    font: bold 16px Arial;
    color: #0f0;
}

#pcAliveShips, #pcCrashedShips, #pcCrashedCells, #pcMoves
{
    font: bold 16px Arial;
    color: #f00;
}

#hitStatus
{
    font: bold 32px Arial;
    color: #fff;
}

/*
======================================
           8. EXIT PAGE
======================================
*/

#exitQuestion
{
    margin-bottom: 50px;
    min-width: 600px;
    max-width: 600px;
    font: bold 40px Cambria;
}

#exitButtons
{
    min-width: 600px;
    max-width: 600px;
    min-height: 40px;
    max-height: 40px;
}

#exitAccept, #exitReject
{
    padding: 0;
    background: transparent;
    font: bold 40px Arial;
}

#exitAccept { color: #36c954; }
#exitReject { color: #c45743; }
#exitAccept:hover, #exitReject:hover { color: #eee; }

